* {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

:root {
  --color-text: rgb(203, 255, 246);
  --color-background: #111;
  --padding-box: 1em;
  --padding-text: 1em;
  --code-keyword: #09ff45;
  --code-title: #ef4343;
  --code-number: #5ac5f3;
  --code-built-in: #53e1c4;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
}

a {
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text);
  padding: var(--padding-text);
}

/* Undo vs-code */

.vscode-light pre {
  background-color: var(--color-background) !important;
}

.hljs-number {
  color: var(--code-number) !important;
}

.hljs-keyword {
  color: var(--code-keyword) !important;
}

.hljs-title {
  color: var(--code-title) !important;
}

.hljs-built_in {
  color: var(--code-built-in) !important;
}
